@media (max-width: 1600px) {}

@media (max-width: 1530px) {}

@media (max-width: 1440px) {}

@media (max-width: 1360px) {}

@media (max-width: 1280px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {

  .header_wrapper {
    flex: 0 0 15rem;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .logo p {
    font-size: large;
    font-weight: 600;
  }

  .logo img {
    width: 2.7rem;
  }

  .nav_menu {
    padding: 0
  }

  .nav_menu {
    padding: 0;
  }

  .nav_button img {
    width: 1.8rem;
    background: white;
    padding: 5px;
    border-radius: 50%;
  }

  .nav_button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    color: var(--secondary-color);
    padding: 0.7rem 1rem;
    margin: 1.2rem 0;
    cursor: pointer;
  }

}

@media (max-width: 768px) {

  .header_wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    padding: 0.8rem;
    z-index: 101;
    transition: 0.8s ease;
  }

  .header_wrapper_show {
    left: 0;
  }

  .logo p {
    font-size: large;
    font-weight: 600;
  }

  .logo img {
    width: 3rem;
  }

  .user_nav .usermenu img {
    display: block;
  }

  .status_main {
    justify-content: center;
    gap: 1.5rem;
  }

  .table_container {
    position: static;
    /* Reset positioning */
    top: auto;
    /* Reset top position */
  }

  /* .table_container {
    top: 42rem;
  } */
}

@media (max-width: 575px) {}

@media (max-width: 375px) {}